header{position: absolute;}
.form{
    width: 100%;
    height: 545px;
    margin-top: 10px;
    .content{
        width:982px;
        height: 100%;
        margin: 0 auto;
        background: url(../images/LZA9TV4S_4T6]ELV0UDEW0J.png) no-repeat;
        background-size: 90%;
        overflow: hidden;
        .left{
            width:400px;
            height:450px;
            padding-top: 50px;
            float: left;
            h1{
                font-size: 18px;
                font-weight: normal;
                padding-left: 80px;
                color: #692C12;
            }
            form{
                width: 370px;
                height: 275px;
                margin-top: 30px;
                padding-left: 100px;
                label{
                    color: #692C12;
                    font-size: 12px;
                    text-align: right;
                    display: inline-block;
                    width: 55px;
                    float: left;
                }
                img{vertical-align: middle;}
                .yanzheng{
                    width: 120px;
                }
                span{
                    color: #692C12;
                    font-size: 12px;
                }
                .phone_num{
                    color: red;
                    font-size: 12px;
                    padding-left: 65px;
                }
                input{
                    padding: 5px;
                    margin: 5px;
                    outline: none;
                }
                .check{
                    color: #7b7682;
                }
                a{
                    text-decoration: underline;
                    color:#76695d;
                    margin-left: 10px;
                }
                .btn_login{width: 80px;
                    height: 30px;
                    line-height: 20px;
                    text-align: center;
                    color: #FFFFFF;
                    margin-left: 50px;
                    background: #692c12;
                    border: none;
                    border-radius:5px ;
                    &:hover{
                        background-color: #ffd400;
                    }
                }
            }
        }
        .right{
            @extend .left;
            margin-left: 10px;
            .btn_register {@extend .btn_login}
            div{
                font-size: 12px;
                margin-left: 65px;
            }
            .in_pw{
                color: red;
                display: none;
            }
            span{margin-left: 10px;padding-right: 5px;}
            .duanxin{width: 66px;height: 15px;display: none;}
            .duanxin_ck{display: none;}
            .checkbox{margin-left: 50px;}
            .checkpassword{margin-left: -5px;}
            form .btn{margin-left: 80px;}
        }
    }
}
