.main {
  width: 100%;
  margin: 0 auto; }
  .main .status {
    width: 980px;
    height: 100px;
    margin: 0 auto; }
  .main .cart {
    width: 980px;
    margin: 0 auto; }
    .main .cart .cart_title {
      width: 100%;
      height: 30px;
      text-align: center;
      line-height: 30px;
      background: #692c12;
      font-weight: bold;
      color: white;
      font-size: 12px; }
      .main .cart .cart_title div {
        float: left;
        width: 82px;
        height: 30px; }
        .main .cart .cart_title div .ck_all {
          margin-right: 10px;
          margin-top: 10px; }
      .main .cart .cart_title .product_name {
        width: 300px;
        height: 100%; }
      .main .cart .cart_title .youhui {
        width: 100px;
        height: 100%; }
    .main .cart .cart_body {
      width: 100%;
      font-size: 12px;
      color: #692c12;
      border-spacing: 0;
      border-collapse: collapse; }
      .main .cart .cart_body tr {
        width: 100%;
        height: 80px;
        text-align: center;
        border-bottom: 1px solid #692c12; }
        .main .cart .cart_body tr td {
          width: 80px; }
        .main .cart .cart_body tr .operate a {
          cursor: pointer; }
        .main .cart .cart_body tr .youhui {
          width: 100px; }
        .main .cart .cart_body tr .detail {
          width: 300px;
          height: 55px;
          padding-top: 20px; }
          .main .cart .cart_body tr .detail img {
            width: 75px;
            height: 55px; }
          .main .cart .cart_body tr .detail dt {
            width: 80px;
            height: 100%;
            color: #692c12;
            float: left; }
          .main .cart .cart_body tr .detail dd {
            width: 160px;
            height: 100%;
            margin-left: 120p; }
  .main .total_sub {
    width: 100%;
    height: 30px;
    text-align: right;
    line-height: 30px;
    color: #692c12;
    font-size: 16px; }
  .main .other_oper {
    margin-top: 20px; }
    .main .other_oper button {
      color: #692c12;
      font-size: 12px;
      background: none;
      border-radius: 20px;
      width: 80px;
      height: 30px;
      border: none;
      border: 1px solid #692c12; }
      .main .other_oper button:hover {
        background: #ffe100;
        border-color: #ffe100; }
    .main .other_oper .clear {
      margin-left: 100px; }
    .main .other_oper .continue {
      float: right; }
    .main .other_oper .caculate {
      float: right;
      margin-left: 20px; }
  .main .interest {
    width: 100%;
    height: 260px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 1px solid #692c12; }
    .main .interest .top {
      width: 100%;
      height: 30px;
      line-height: 30px;
      background: #692c12; }
      .main .interest .top span {
        color: white;
        font-size: 14px;
        padding-left: 10px; }
      .main .interest .top button {
        width: 80px;
        height: 28px;
        border: none;
        background: none;
        background: #fdefe2;
        margin-left: 5px; }
    .main .interest .body {
      width: 100%;
      height: 210px;
      border-bottom: 1px dashed #d0bca5; }
      .main .interest .body dl {
        width: 200px;
        height: 195px;
        background: #fef8f1;
        text-align: center; }
        .main .interest .body dl dt img {
          margin-top: 10px; }
        .main .interest .body dl dd {
          font-size: 12px;
          color: #692c12;
          padding-left: 10px;
          text-align: left; }
          .main .interest .body dl dd p {
            line-height: 32px; }
          .main .interest .body dl dd button {
            color: #692c12;
            font-size: 12px;
            background: none;
            border-radius: 20px;
            margin-left: 20px;
            width: 80px;
            height: 20px;
            border: none;
            border: 1px solid #692c12; }
            .main .interest .body dl dd button:hover {
              background: #ffe100;
              border-color: #ffe100; }

/*# sourceMappingURL=cart.css.map */
